In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [10]:
data = pd.read_csv('f:/jobathon/TRAIN.csv')
data = data.drop(['ID','Holiday'],axis=1)
data['Date'] = pd.to_datetime(data['Date'])

In [11]:
d = dict.fromkeys(data.select_dtypes(np.int64).columns, np.int32)
e = dict.fromkeys(data.select_dtypes(np.float64).columns, np.float32)
data = data.astype(d)
data = data.astype(e)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188340 entries, 0 to 188339
Data columns (total 8 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Store_id       188340 non-null  int32
 1   Store_Type     188340 non-null  object
 2   Location_Type  188340 non-null  object
 3   Region_Code    188340 non-null  object
 4   Date           188340 non-null  datetime64[ns]
 5   Discount       188340 non-null  object
 6   #Order         188340 non-null  int32
 7   Sales          188340 non-null  float32
dtypes: datetime64[ns](1), float32(1), int32(2), object(4)
memory usage: 6.5+ MB

In [12]:
x = data.iloc[:,0:-1]
y = data.iloc[:,-1] 
x.shape

(188340, 7)

In [13]:
import datetime as dt
x['Date']=x['Date'].map(dt.datetime.toordinal)

In [14]:
import numpy as np
for i in x.select_dtypes(include='object').columns:
    top_10 = [x for x in x[i].value_counts().sort_values(ascending=False).head(5).index]
    top_10.sort()
    print(top_10)
    for j in top_10:
        x[i+'_'+j] = np.where(x[i]==j,1,0)
x.head()

['S1', 'S2', 'S3', 'S4']
['L1', 'L2', 'L3', 'L4', 'L5']
['R1', 'R2', 'R3', 'R4']
['No', 'Yes']

,Store_id,Store_Type,Location_Type,Region_Code,Date,Discount,#Order,Store_Type_S1,Store_Type_S2,Store_Type_S3,...,Location_Type_L2,Location_Type_L3,Location_Type_L4,Location_Type_L5,Region_Code_R1,Region_Code_R2,Region_Code_R3,Region_Code_R4,Discount_No,Discount_Yes
0,1,S1,L3,R1,736695,Yes,9,1,0,0,...,0,1,0,0,1,0,0,0,0,1
1,253,S4,L2,R1,736695,Yes,60,0,0,0,...,1,0,0,0,1,0,0,0,0,1
2,252,S3,L2,R1,736695,Yes,42,0,0,1,...,1,0,0,0,1,0,0,0,0,1
3,251,S2,L3,R1,736695,Yes,23,0,1,0,...,0,1,0,0,1,0,0,0,0,1
4,250,S2,L3,R4,736695,Yes,62,0,1,0,...,0,1,0,0,0,0,0,1,0,1

In [17]:
#x = x.drop(['Store_Type','Location_Type','Region_Code','Discount'], axis = 1)
#x = x.drop(['#Order'], axis = 1)
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188340 entries, 0 to 188339
Data columns (total 17 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Store_id          188340 non-null  int32
 1   Date              188340 non-null  int64
 2   Store_Type_S1     188340 non-null  int32
 3   Store_Type_S2     188340 non-null  int32
 4   Store_Type_S3     188340 non-null  int32
 5   Store_Type_S4     188340 non-null  int32
 6   Location_Type_L1  188340 non-null  int32
 7   Location_Type_L2  188340 non-null  int32
 8   Location_Type_L3  188340 non-null  int32
 9   Location_Type_L4  188340 non-null  int32
 10  Location_Type_L5  188340 non-null  int32
 11  Region_Code_R1    188340 non-null  int32
 12  Region_Code_R2    188340 non-null  int32
 13  Region_Code_R3    188340 non-null  int32
 14  Region_Code_R4    188340 non-null  int32
 15  Discount_No       188340 non-null  int32
 16  Discount_Yes      188340 non-null  int32
dtypes: int32(16), int64(1)
memory usage: 12.9 MB

In [106]:
xtest.columns

Index(['Store_id', 'Date', 'Store_Type_S1', 'Store_Type_S2', 'Store_Type_S3',
       'Store_Type_S4', 'Location_Type_L1', 'Location_Type_L2',
       'Location_Type_L3', 'Location_Type_L4', 'Location_Type_L5',
       'Region_Code_R1', 'Region_Code_R2', 'Region_Code_R3', 'Region_Code_R4',
       'Discount_No', 'Discount_Yes'],
      dtype='object')

In [56]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(x,y)

LinearRegression()

In [21]:
xtest = pd.read_csv('f:\jobathon\TEST_FINAL.csv')
xtest = xtest.drop(['ID','Holiday'],axis=1)
xtest['Date'] = pd.to_datetime(xtest['Date'])
xtest.shape

(22265, 6)

In [22]:
import datetime as dt
xtest['Date']=xtest['Date'].map(dt.datetime.toordinal)

In [23]:
import numpy as np
for i in xtest.select_dtypes(include='object').columns:
    top_10 = [x for x in xtest[i].value_counts().sort_values(ascending=False).head(5).index]
    top_10.sort()
    print(top_10)
    for j in top_10:
        xtest[i+'_'+j] = np.where(xtest[i]==j,1,0)
xtest.head()

['S1', 'S2', 'S3', 'S4']
['L1', 'L2', 'L3', 'L4', 'L5']
['R1', 'R2', 'R3', 'R4']
['No', 'Yes']

,Store_id,Store_Type,Location_Type,Region_Code,Date,Discount,Store_Type_S1,Store_Type_S2,Store_Type_S3,Store_Type_S4,...,Location_Type_L2,Location_Type_L3,Location_Type_L4,Location_Type_L5,Region_Code_R1,Region_Code_R2,Region_Code_R3,Region_Code_R4,Discount_No,Discount_Yes
0,171,S4,L2,R3,737065,No,0,0,0,1,...,1,0,0,0,0,0,1,0,1,0
1,172,S1,L1,R1,737065,No,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0
2,173,S4,L2,R1,737065,No,0,0,0,1,...,1,0,0,0,1,0,0,0,1,0
3,174,S1,L1,R4,737065,No,1,0,0,0,...,0,0,0,0,0,0,0,1,1,0
4,170,S1,L1,R2,737065,No,1,0,0,0,...,0,0,0,0,0,1,0,0,1,0

In [24]:
xtest = xtest.drop(['Store_Type','Location_Type','Region_Code','Discount'], axis = 1)
xtest.shape

(22265, 17)

In [57]:
ypred = model.predict(xtest)
ypred

array([57377.01130322, 34192.1901366 , 58276.95196647, ...,
       45653.92319593, 33415.89818448, 29165.09749494])

In [58]:
ypred.shape

(22265,)

In [59]:
d = pd.read_csv('f:/jobathon/TEST_FINAL.csv')
submission = pd.DataFrame(ypred,columns=['Sales'])
submission.head()
d.shape

(22265, 8)

In [61]:
sub = pd.DataFrame(d['ID'],columns=['ID'])
sub.shape

(22265, 1)

In [65]:
sub['Sales'] = ypred
sub.shape

(22265, 2)

In [64]:
sub.to_csv('f:\jobathon\submission.csv',index=False)

In [24]:
print(type(ypred))

<class 'numpy.ndarray'>

In [19]:
from sklearn.model_selection import GridSearchCV
param_grid = {"criterion": ["mse"],
              "min_samples_split": [10, 20, 40],
              "max_depth": [2,6],
              "min_samples_leaf": [20, 40, 50],
              "max_leaf_nodes": [5, 20, 30],
              }

grid_cv_dtm = GridSearchCV(dtm, param_grid, cv=5)

grid_cv_dtm.fit(x,y)

GridSearchCV(cv=5, estimator=DecisionTreeRegressor(),
             param_grid={'criterion': ['mse'], 'max_depth': [2, 6],
                         'max_leaf_nodes': [5, 20, 30],
                         'min_samples_leaf': [20, 40, 50],
                         'min_samples_split': [10, 20, 40]})

In [20]:
print("R-Squared::{}".format(grid_cv_dtm.best_score_))
print("Best Hyperparameters::\n{}".format(grid_cv_dtm.best_params_))

R-Squared::0.5222740068398997
Best Hyperparameters::
{'criterion': 'mse', 'max_depth': 6, 'max_leaf_nodes': 30, 'min_samples_leaf': 20, 'min_samples_split': 10}

In [25]:
best_dtm_model = grid_cv_dtm.best_estimator_

y_pred3 = best_dtm_model.predict(xtest)

In [31]:
from sklearn.tree import DecisionTreeRegressor
dtm = DecisionTreeRegressor(criterion ='mse', max_depth= 6, max_leaf_nodes= 30, min_samples_leaf= 20, min_samples_split= 10)
dtm.fit(x,y)

DecisionTreeRegressor(max_depth=6, max_leaf_nodes=30, min_samples_leaf=20,
                      min_samples_split=10)

In [39]:
from sklearn.ensemble import AdaBoostRegressor
mod = AdaBoostRegressor()
mod.fit(x,y)

AdaBoostRegressor()

In [50]:
ypred6 = mod.predict(xtest)
ypred6

array([89081.80329487, 46535.14486429, 92865.52605336, ...,
       50426.61239999, 48958.25099112, 47933.85976815])

In [51]:
d = pd.read_csv('f:/jobathon/TEST_FINAL.csv')
submission = pd.DataFrame(ypred6,columns=['Sales'])
submission.head()
d.shape

(22265, 8)

In [52]:
sub = pd.DataFrame(d['ID'],columns=['ID'])
sub.shape

(22265, 1)

In [53]:
sub['Sales'] = ypred6
sub.shape

(22265, 2)

In [54]:
sub.to_csv('f:\jobathon\submission8.csv',index=False)